/*
Common
********************/
html,
body {
    height: 100%;
}

.content{
max-Width: '600px';
height: '100%';
margin: 0 'auto';
border-Left: '1px' solid;
border-Right: '1px' solid;
}

/*Post
*****************/

.posts li{
    display:flex;
    border-bottom: 1px solid;
}

.posts li .logo{
    flex-basis: 15%;
}
.posts li .logo img {
    width: 75%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li  .name {
    font-weight: bold;
}

.posts li .datetime {
    color: rgb(197, 197, 197);
}